.header {
  height: 95vh; /* 95% of viewport height */
  background-image: linear-gradient(
                  to right bottom,
                  rgba($color-primary-light, 0.8),
                  rgba($color-primary-dark, 0.8)),
  url(../../img/hero.jpg); /* specifying 2 background, first is on top of the second one */
  background-size: cover; /* try to fit element inside the box */
  background-position: top; /* to make sure that top of the image stays the same, bottom can be cropped while resizing */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%); /* also try bennettfeely.com/clippy */ /* vh - viewport height changed dynamically, in this example 75% of this height */
  position: relative;

  @include respond(phone) {
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0% 100%);
  }

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 3.5rem;
  }

  /*.logo-box:hover .logo {*/
  /*animation: moveInRight 0.5s ease-out;*/
  /*}*/

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}