.popup {
  height: 100vh;
  width: 100%;
  background-color: rgba($color-black, .8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;

  &__content {
    @include centerHorizontalVertical;

    border-radius: 3px;
    background-color: $color-white;
    width: 75%;
    box-shadow: 0 2rem 4rem rgba($color-black, .2);
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all .4s .2s;

    @include respond(tab-land) {
      width: 90%
    }

    @include respond(phone) {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 0;
    }
  }

  &__left {
    width: 33.333333%;
    display: table-cell;

    @include respond(tab-port) {
      width: 40%;
    }

    @include respond(phone) {
      display: block;
      width: 100%;
      padding: 2rem 3rem;
    }
  }

  &__right {
    width: 66.666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;

    @include respond(tab-port) {
      width: 60%;
      padding: 2rem 3rem;
    }

    @include respond(phone) {
      display: block;
      width: 100%;
    }
  }

  &__img {
    display: block;
    width: 99%;

    @include respond(phone) {
      display: inline-block;
      width: 45%;
      margin: 0 auto;

      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    -moz-column-count: 2; // new css property ,splitting text to 2 columns
    -moz-column-gap: 4rem; // specifying space between columns
    -moz-column-rule: 1px solid $color-grey-light-2;

    column-count: 2; // new css property ,splitting text to 2 columns
    column-gap: 4rem; // specifying space between columns
    column-rule: 1px solid $color-grey-light-2;

    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto; // doesn't work on chrome linux :/
  }

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    &:link,
    &:visited {
      color: $color-grey-dark;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      line-height: 1;
    }

    &:hover {
      color: $color-primary;
    }
  }
}